body {
    margin-left: 25px;
    background-image: url(./img/fon.jpg);
}

button {
    background-color: rgb(194, 232, 244);
    border-radius: 5px;
    margin-left: 5px;
}

img {
width: 13px;
height: 13px;
margin-left: 15px;
margin-right: 8px;
};

#descriptionOfSite {
    margin-top: 15px;
}

form {
    display: flex;
}

form input,
form textarea,
form select {
    flex: 1;
    margin-right: 10px;
}

form button {
    flex: 0;
    
}
form textarea {
    padding-top: 10px;
}
